#statesbar {
  width: 250px;
  margin: 0;
  padding: 0.5em;
}

#matches {
  display: none;
  list-style: none;
  background-color: gainsboro;
  width: 250px;
  margin: 0;
  padding: 0.5em;
}

#matches:empty {
  display: none;
}

#matches li {
  border-bottom: brown;
  cursor: pointer;
  padding: 0.5em;
}

#matches li.selected {
  background-color: red;
  color: gainsboro;
}

#matches li:hover {
  background-color: red;
  color: gainsboro;
}